<app-notfound [visible]="!cart || cart.items.length <=0"
notFoundMessage="Items Not found!"
resetLinkText="Got To home Page!"
></app-notfound>
<div *ngIf="cart && cart.items.length >0"  class="container">
    <ul>
        <li *ngFor="let cartItem of cart.items">
            <div>
            <img [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name">
        </div>
        <div>
            <a routerLink="/food/{{cartItem.food.id}}">
                {{cartItem.food.name}}
            </a>
        </div> 
        
        <div>
            {{cartItem.price |currency:'USD':'symbol':'1.2-2'}}
        </div>
        <div>
            <button class="remove-button" (click)="removeFromCart(cartItem)">Romove
    
            </button>
        </div>
        </li>
    </ul>
    <div class="checkout">
        <div class="food-count">
            {{cart.items.length}}
    
        </div>
        <div class="total-price">
         {{cart.totalPrice |currency:'USD':'symbol':'1.2-2' }}
        </div>
        <a roututerLink="/checkout">Proceed to Checkout</a>
    </div>
</div>
