<app-notfound [visible]="!food" notFoundMessage="Product not found!" resetLinkText="Gotohomepage">

</app-notfound>
<div *ngIf="food" class="container">
    <h1>tomato</h1>
    <div class="product">
      <img [src]="food.imageUrl" [alt]="food.name">
      <div class="product-details">
        <div class="product-name">{{food.name}}</div>
        <div class="product-price">{{food.price| currency:'USD':'symbol':'1.2-2'}}</div>
        <button class="add-to-cart-btn" (click)="addToCart()">Add to Cart</button>
      </div>
    </div>
  </div>
